################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/DevexpressDiagramTest/v16
/DevexpressDiagramTest/bin/Debug/net5.0-windows
/DevexpressDiagramTest/obj
